<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap"/>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="DatabaseType" value="MSSQL"/>
    <add key="DatabaseServerName" value="HISProduction"/>
    <add key="DatabaseName" value="HIS5Development"/>
    <add key="DatabaseUserName" value="sa"/>
    <add key="DatabasePassword" value="41~214~18~239~46~157~28~162~75~235~178~108~194~201~143~142~178~67~195~57~47~26~208~153~107~77~113~126~100~230~195~173~20~118~132~108~103~21~250~221~178~4~243~127~107~245~35~214~195~53~238~135~10~178~140~131~135~79~242~217~217~68~198~93~99~1~6~83~112~178~252~204~35~229~68~100~54~89~213~165~199~74~220~36~30~20~88~66~193~177~127~129~150~220~94~217~56~83~11~135~148~38~92~150~44~43~230~84~161~92~218~203~157~137~130~186~24~108~205~85~17~61~209~57~48~10~175~234"/>
    <add key="DatabasePort" value=""/>
  </appSettings>
  <StructureMap MementoStyle="Attribute">
    <AddInstance
      PluginType="AdoDALInterface.IAdoDAL, AdoDALInterface"
      PluggedType="AdoDALSQL.AdoDALSQL, AdoDALSQL"
      Key="MSSQL" Name="MSSQL" MyProperty="1" />

    <!--<AddInstance
      PluginType="AdoDALInterface.IAdoDAL, AdoDALInterface"
      PluggedType="AdoDALOracle.AdoDALOracle, AdoDALOracle"
      Key="ORACLE" Name="ORACLE" MyProperty="2" />-->
  </StructureMap>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
